<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Hackathon Test Suite">
	<test name="HomePageCarWashServicesTest">
		<classes>
			<class name="com.cognizant.hackathon.test.JustDialHomePageTest" />
		</classes>
	</test>
	<test name="GymPageTest">
		<classes>
			<class name="com.cognizant.hackathon.test.JustDialGymPageTest" />
		</classes>
	</test>
	<test name="FreeListingPageTest">
		<classes>
			<class name="com.cognizant.hackathon.test.FreeListingPageTest" />
		</classes>
	</test>

</suite>
